<!DOCTYPE HTML>
<html>
    <head>
        <title>Chatroom</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                const channelss = "{{channel}}";
                localStorage.setItem('channel', channelss);
                const name = localStorage.getItem('username');
                document.querySelector('#back').onclick = () =>{
                    alert('Returning to channel home...');
                    localStorage.setItem('channel', '');                   
                    window.location.href="http://127.0.0.1:5000/createchannel";
                };

                socket.on('connect', () =>{
                    const mess = `${name} has entered the channel ${channelss}.`;
                    socket.emit('join room', {'mess': mess, 'channelss': channelss});
                    document.querySelectorAll('#submit').forEach(button => {
                        button.onclick = () => {
                            let timestamp = Date.now();
                            var h = new Date(timestamp).getHours();
                            var m = new Date(timestamp).getMinutes();
                            var s = new Date(timestamp).getSeconds();
                            h = (h<10) ? '0' + h : h;
                            m = (m<10) ? '0' + m : m;
                            s = (s<10) ? '0' + s : s;
                            const selection = document.querySelector('#message').value; 
                            socket.emit('submit message', {'selection': selection, 'channelss':channelss, 'name': name,
                             'h': h, 'm': m, 's': s});
                        };
                    });
                });
                
                socket.on('submit message', data =>{
                    const li = document.createElement('li');
                    li.innerHTML = `${data.name} (${data.h}:${data.m}:${data.s}): ${data.messages}`;
                    document.querySelector('#aMessages').append(li);          
                });
                socket.on('new message', data =>{
                    const li = document.createElement('li');
                    li.innerHTML = `${data.text}`;
                    document.querySelector('#aMessages').append(li);
                });

            });
        </script>
    </head>

    <body>
        <h1>Chatroom</h1>
        <h3>Current channel: {{channel}}</h3>
        <button id="back">Back</button>
        <p>Messages: </p>
        <ul id="aMessages">
            {% for x in messages[channel] %}
            {{x}}<br>
            {% endfor %}
        </ul>
        <input id="message" placeholder="Enter a new message..." type="text">
        <button id="submit">Send</button>
    </body>

</html>