<!DOCTYPE HTML>
<html>
    <head>
        <title>Chatroom</title>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

            });
        </script>
    </head>

    <body>
        <h1>Chatroom</h1>

        <h3>Current channel: {{channel}}</h3>

        <p>Messages: </p>

        <p id="messages"></p>

        <form id="newmsg" autocomplete="off">
            <input id="message" placeholder="Enter a new message..." type="text">
            <input type="submit">
        </form>
    </body>

</html>