<!DOCTYPE HTML>
<html>
    <head>
        <title>Channel Info</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => { 
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                
                socket.on('all channels', function(data){
                    /*
                    Something like this forloop for updating and displaying new 
                    values without needing to refresh.
                    for (channel in data.channels){
                       // document.querySelector('h3').innerHTML = data.channel;
                        document.querySelector('a').innerHTML = channel;
                    }
                    */
                    window.onload = function(){
                        document.querySelector('h3').innerHTML = data.channels;
                    };
                    
                });

                socket.on('connect', () =>{

                    document.querySelector('#channelmake').onsubmit = () =>{
                        document.querySelector('#submit').disabled = true;
                        var channel = document.querySelector('#channelname').value;
                        channel = channel.toLowerCase();
                        if ("{{channels}}".indexOf(channel) != -1){
                            alert("Chatroom name already exists!");
                        }
                        else{
                            alert("Chatroom has been successfully added.");
                            socket.emit('add channel', channel);                     
                        }
                        
                    };
                });
                
                
            });
        </script>
    </head>
    <body>
        <h1>Create a channel</h1>
        <form id="channelmake">
            <input id="channelname" autocomplete="off" placeholder="Channel Name" type="text">
            <input id="submit" type="submit">
        </form>
        
        <div>Channels: 
            <h3>
            {% for channel in channels %}
            <a href="{{ url_for('chatroom', channel=channel) }}" >
                {{ channel }}<br>
            {% endfor %}
            </a>
            </h3>
        </span></div>
        
    </body>

</html>